h1
{
  color:navy;
}
h4{
  color:teal;
}
label
{
  color:teal;
}
input.ng-invalid.ng-touched
{
  border:1px solid red;
}
select.ng-invalid.ng-touched
{
  border:1px solid red;
}
textarea.ng-invalid.ng-touched
{
  border:1px solid red;
}
.jumbotron {
  background-image:url('http://www.theboltonnews.co.uk/resources/images/3453902/');
  background-position: center;
  background-size: cover;
}


