<div class="container">
  <div class="jumbotron">
    <h1 > Shopping Cart  </h1>
  </div>
     <h4>  <strong>Number of items:{{numOfItems}}</strong></h4>
     <h4>  <strong>Total price:{{sum}}$</strong></h4>
  <span class="glyphicon glyphicon-shopping-cart" ></span>
  <hr>
  <div class="flex-container">
    <div id="flex-item" *ngFor="let shoppingItem of ItemsBoughtArray; let i = index">
      <img class="mainImage" src="{{shoppingItem.itemImageUrl}}">
      <h3>{{shoppingItem.itemTitle}}</h3>
      <h4>{{shoppingItem.itemDescription}}</h4>
      <h3>{{shoppingItem.itemPrice}}$</h3>
      <button  class="btn btn-danger" (click)="removeFromCart(i)">remove from cart</button>
      <span class="glyphicon glyphicon-shopping-cart"></span>
    </div>
  </div>
</div>

