.jumbotron {
  box-sizing: border-box;
  background-image: url("http://www.dream-wallpaper.com/free-wallpaper/nature-wallpaper/grass-football-pitches-wallpaper/1440x900/free-wallpaper-16.jpg");
  background-position: center;
  background-size: cover;
}
