<div class ="container">
<div class="jumbotron">
  <h1> Teams  </h1>
</div>
<hr>
  <div class="row">
  <div class="col-md-5">
  <a
    routerLink="/teams"
    class="list-group-item clearfix"
    *ngFor="let team of teams; let i = index"
    (click)="onTeamClick(i)" [ngx-scroll-to]="'#teamInfo'">
    <div class="pull-left">
      <h3 class="list-group-item-heading">{{ team.name }}</h3>
    </div>
    <div class="pull-right">
        <img
          [src]="team.imageUrl"
          alt="{{ team.name }}"
          class="img-responsive">
      </div>
  </a>
  </div>
  <div id="teamInfo" class="col-md-offset-5">
    <app-team></app-team>
  </div>
  </div>
  <div (window:beforeunload)="onRefresh()"></div>
</div>


