.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-item{
  margin: 5px;
  padding:5px;
  border:2px solid gainsboro;
}
.mainImage{
  height:300px;
  width: 350px;
}
.jumbotron {
  background-image:url('http://www.oktoberfest.ca/images/slideshow/2017oktoberfestcup1.jpg');
  background-size: cover;
}

@media all and (max-width: 500px) {
  .mainImage {
    height:100%;
    width: 100%;
  }
}


